<form [formGroup]="updateForm" class="example-container">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Name" formControlName="name">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Picture" formControlName="picture">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Description of the Cocktail" formControlName="description"></textarea>
  </mat-form-field>
  <div style="float: right;">
    <button mat-raised-button class="button" (click)="sendForm()">Update</button>
    <button mat-raised-button color="warn" class="button" routerLink="/recipe">Cancel</button>
  </div>
</form>
